body{
    background-color:#000;
    color:white;
    font-family: "Josefin Sans", sans-serif;

}
.navigation-bar {
  font-family: "Josefin Sans", sans-serif;
}
img.d-block {
  height: 300px;
}
h1 {
  color: white;
}
.container {
  font-family: "Josefin Sans", sans-serif;
}
svg {
  vertical-align: text-bottom;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: wavy;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.project-heading{
text-align: center;
}